/* css settings in homepage */
.container {
  display: flex;
}

.homepage__container {
  overflow-x: hidden;
  /*width:;*/
}

.homepage__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: azure;
  width:100%;
}

.homepage__left-part {
  display: flex;
  align-items: center;
  font-size: 80px;
  font-weight: 800;
  padding-right: 40px;
}

.homepage__icon {
  height: 20px;
  width: 20px;
  margin: 0 30px 0 30px;
}


input::-webkit-input-placeholder {
font-size: 18px;
}

.homepage__left-part--font {
  position: relative;
  top: -10px;
  margin-right:20px;
}

.homepage__right-part {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.homepage__right-part li {
  font-size: 20px;
  font-weight: 600;
  margin-left:70px;
  /*word-wrap: none;*/
  word-break: keep-all;
}

.navbar-nav {
  align-items: center;
}

.homepage__side-bar {
  width: 500px;
  height: 620px;
  margin-left: -3.8cm;
  background-color: gray;
}

.homepage__search:focus {
  outline-style: none;
  border-color: blue;
}

.homepage__search--container {
  width: 700px;
  height: 50px;
  border: solid;
  /*border-left:-20px;*/
  border-radius: 25px;
  position: relative;
}
.homepage__search {
  width:500px;
  height: 40px;
  border: none;
  margin-left: 24px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
  background-color: azure;;
}

.search_btn {
 position: absolute;
 right: 0;
 margin-right: 10px;
}

.homepage__search--icon {
  height: 25px;
  width: 25px;
  position: relative;
  top: 10px;
}

.account_Management:hover{
  text-decoration: underline;
  cursor:pointer;
}
.cart_Management:hover{
  text-decoration: underline;
  cursor:pointer;
}



.login__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.login__border {
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

.login__container--sign-in {
  width: 80%;
  height: 25px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  background-color: red;
  margin-top: 10px;
}

.login__container--create {
  font-size: 15px;
}

.homepage__items-part {
  height: 75vh;
  width: 100%;
  background-image: url(https://wallpaperaccess.com/full/862227.png);
  background-repeat: no-repeat;
  background-size: 100% 90vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

}

.homepage__item--cate {
  width: 300px;
  height: auto;
  text-align: center;
  background-color: black;
}

.homepage__item--cate:hover {
 cursor: pointer;
}

.black_margin{
  background-color: black;
  width:auto;
  height:40px
}

.homepage__item--cate span {
  font-size: 25px;
  font-weight: 700;
}

.homepage__item1{
  height:350px;
}
