label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


/*body {*/
/*  font-size: 13px;*/
/*  line-height: 19px;*/
/*  color: #111;*/
/*  font-family: Arial,sans-serif;*/
/*}*/

h1:last-child, h2:last-child, h3:last-child, h4:last-child {
  padding-bottom: 0;
}
h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.3;
}
h1, h2 {
  padding-bottom: 4px;
}
h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4 {
  padding-bottom: 4px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

form {
  margin-bottom: 14px;
}

.app-section {
  margin-bottom: 22px;
}

.app-spacing-top-base {
  margin-top: 14px!important;
}

.app-row {
  width: 100%;
}

.app-column {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
}

.app-row:after, .app-row:before {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0;
}

.app-row:after {
  clear: both;
}

.app-column.app-span-last {
  margin-right: 0;
  float: right;
}

.app-spacing-top-micro {
  margin-top: 4px!important;
}

.app-text-right {
  text-align: right!important;
}

.app-ordered-list.app-nostyle li, .app-unordered-list.app-nostyle li, ol.app-nostyle li, ul.app-nostyle li {
  list-style: none;
}


.app-ordered-list.app-nostyle, .app-unordered-list.app-nostyle, ol.app-nostyle, ul.app-nostyle {
  margin-left: 0;
  color: #111;
}

.app-ordered-list .app-list-item, .app-unordered-list .app-list-item, ol .app-list-item, ul .app-list-item {
  color: #111;
}

.app-ordered-list, .app-unordered-list, ol, ul {
  padding: 0;
}
.app-unordered-list, ul {
  margin: 0 0 0 18px;
  color: #111;
}
.app-spacing-mini, .app-ws .app-ws-spacing-mini {
  margin-bottom: 6px!important;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  color: #0066c0;
}

p {
  padding: 0;
  margin: 0 0 14px 0;
}

.app-spacing-small {
  margin-bottom: 10px!important;
}

.app-spacing-base {
  margin-bottom: 14px!important;
}

.app-span85 {
  width: 84%;
}

.app-span15 {
  width: 14%;
}

.app-text-bold {
  font-weight: 700!important;
}

.app-size-medium {
  text-rendering: optimizeLegibility;
  font-size: 17px!important;
  line-height: 1.255!important;
}

.app-color-price {
  color: #B12704!important;
}

.app-fixed-left-grid, .app-col-right {
  width: 100%;
  padding-left: 3.5%;
}

.app-fixed-left-grid-inner, .app-fixed-right-grid-inner {
  position: relative;
  padding: 0;
}

.app-fixed-left-grid-col, .app-fixed-right-grid-col {
  position: relative;
  overflow: visible;
  zoom: 1;
  min-height: 1px;
}

.app-col-left {
  overflow: hidden;
  zoom: 1;
  width: auto;
}

.app-color-secondary {
  color: #555!important;
}

.app-float-left {
  float: left!important;
}